@import url("https://use.typekit.net/sly1ocm.css");
$font-stack: laca, sans-serif;

.card {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    padding-bottom: 550px;
    transition: background .50s ease-out;
}

.cardContent {
    width: 45rem;
    margin-top: 100px;
    padding-bottom: 10px;
    border-radius: 25px;
    background-color: white;

}

.title {
    padding: 10px 10px 0;
    font-family: laca, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
}

.exp {
    padding: 0 10px 0;
    font-family: laca, sans-serif;
    font-weight: 800;
    color: #0C4BFA;
    font-style: normal;
}


.code {
    padding: 0 20px 0 !important;
    color: rgb(4, 35, 94) !important;
}

.correctNotification, .wrongtNotification {
    position: relative;
    bottom: 320px;
    background: transparent;
    transition: background .50s ease-out;
    font-family: laca, sans-serif;
    color: white;
    font-weight: 800;
    font-size: 40px;
    justify-content: center;
    align-self: center;
}

@keyframes card-load {
    0% {
        transform: scalse(0);
    }

    100% {
        transform: scale(1);
    }
}



